@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Montserrat:300,400,600|Rajdhani");
.anim-fast {
  animation-delay: 0.3s !important; }

.no-delay {
  animation-delay: 0s !important; }

body.splash {
  background: #183c5e;
  background-image: url("../images/splash-page/background-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh; }

#particles-small {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  opacity: 0.2; }

#particles-large {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0;
  opacity: 0.8; }

#particles-mask {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: block;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0; }

body.invitation {
  background: #efe2c9;
  background-position: left;
  background-repeat: repeat-y;
  background-size: 100% 2px;
  overflow: hidden; }

.hidden {
  display: none; }

.navbar .sponsor-by {
  list-style: none; }
.navbar .navbar-brand img {
  width: 120px;
  filter: grayscale(1);
  transition: filter;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }
  .navbar .navbar-brand img:hover {
    filter: grayscale(0); }
.navbar .navbar-nav {
  margin-bottom: 1rem; }
  .navbar .navbar-nav .nav-item.active .nav-link {
    color: #313131;
    border-bottom: 1px solid #313131; }
  .navbar .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    padding: 20px 0 2px;
    color: #3131314d;
    cursor: pointer;
    margin: 0 20px;
    transition: color, border-bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
    border-bottom: 1px solid #31313100; }

.viewport, .theme {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  min-width: 100%;
  min-height: 100vh; }

.theme {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px; }
  .theme .top-left, .theme .top-right,
  .theme .bottom-left, .theme .bottom-right {
    width: 50%;
    height: 50vh;
    float: left; }
    .theme .top-left .tree, .theme .top-right .tree,
    .theme .bottom-left .tree, .theme .bottom-right .tree {
      max-width: 70%; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .tree, .theme .top-right .tree,
        .theme .bottom-left .tree, .theme .bottom-right .tree {
          max-width: 75%; } }
    .theme .top-left .mac-book, .theme .top-right .mac-book,
    .theme .bottom-left .mac-book, .theme .bottom-right .mac-book {
      max-width: 120%; }
    .theme .top-left .plane, .theme .top-right .plane,
    .theme .bottom-left .plane, .theme .bottom-right .plane {
      max-width: 275px;
      margin-left: 60px; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .plane, .theme .top-right .plane,
        .theme .bottom-left .plane, .theme .bottom-right .plane {
          max-width: 340px;
          margin-left: 80px;
          margin-top: 30px; } }
    .theme .top-left .coffee, .theme .top-right .coffee,
    .theme .bottom-left .coffee, .theme .bottom-right .coffee {
      max-width: 50%;
      margin-right: 50px; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .coffee, .theme .top-right .coffee,
        .theme .bottom-left .coffee, .theme .bottom-right .coffee {
          max-width: 50%;
          margin-right: 100px;
          margin-top: -32px; } }
    .theme .top-left .plant, .theme .top-right .plant,
    .theme .bottom-left .plant, .theme .bottom-right .plant {
      max-width: 65%; }
    .theme .top-left .agenda-tab, .theme .top-right .agenda-tab,
    .theme .bottom-left .agenda-tab, .theme .bottom-right .agenda-tab {
      max-width: 55%; }
    .theme .top-left .tacks, .theme .top-right .tacks,
    .theme .bottom-left .tacks, .theme .bottom-right .tacks {
      max-width: 34%;
      margin-left: 10%;
      margin-top: 10%; }
    .theme .top-left .planton, .theme .top-right .planton,
    .theme .bottom-left .planton, .theme .bottom-right .planton {
      max-width: 25%;
      margin-right: 10%;
      margin-top: 20%; }
    .theme .top-left .idea-plant, .theme .top-right .idea-plant,
    .theme .bottom-left .idea-plant, .theme .bottom-right .idea-plant {
      max-width: 82%; }
    .theme .top-left .drawing, .theme .top-right .drawing,
    .theme .bottom-left .drawing, .theme .bottom-right .drawing {
      max-width: 75%; }
    .theme .top-left .idea-tab, .theme .top-right .idea-tab,
    .theme .bottom-left .idea-tab, .theme .bottom-right .idea-tab {
      max-width: 52%;
      margin-top: -55px; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .idea-tab, .theme .top-right .idea-tab,
        .theme .bottom-left .idea-tab, .theme .bottom-right .idea-tab {
          margin-top: 0%; } }
    .theme .top-left .tomato, .theme .top-right .tomato,
    .theme .bottom-left .tomato, .theme .bottom-right .tomato {
      max-width: 16%;
      margin-top: 7%;
      margin-left: 8%; }
    .theme .top-left .pizza, .theme .top-right .pizza,
    .theme .bottom-left .pizza, .theme .bottom-right .pizza {
      max-width: 55%; }
    .theme .top-left .pepper, .theme .top-right .pepper,
    .theme .bottom-left .pepper, .theme .bottom-right .pepper {
      max-width: 23%;
      margin-left: 12%; }
    .theme .top-left .sketches, .theme .top-right .sketches,
    .theme .bottom-left .sketches, .theme .bottom-right .sketches {
      max-width: 45%; }
    .theme .top-left .design-plant, .theme .top-right .design-plant,
    .theme .bottom-left .design-plant, .theme .bottom-right .design-plant {
      max-width: 48%; }
    .theme .top-left .keyboard, .theme .top-right .keyboard,
    .theme .bottom-left .keyboard, .theme .bottom-right .keyboard {
      max-width: 58%;
      margin-top: -16%; }
    .theme .top-left .ipad, .theme .top-right .ipad,
    .theme .bottom-left .ipad, .theme .bottom-right .ipad {
      max-width: 34%; }
    .theme .top-left .usb-drive, .theme .top-right .usb-drive,
    .theme .bottom-left .usb-drive, .theme .bottom-right .usb-drive {
      max-width: 15%;
      margin-right: 22%;
      margin-top: 10%; }
    .theme .top-left .presentation-plant, .theme .top-right .presentation-plant,
    .theme .bottom-left .presentation-plant, .theme .bottom-right .presentation-plant {
      max-width: 41%;
      margin-top: 15%; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .presentation-plant, .theme .top-right .presentation-plant,
        .theme .bottom-left .presentation-plant, .theme .bottom-right .presentation-plant {
          margin-top: 21%; } }
    .theme .top-left .eye-glasses, .theme .top-right .eye-glasses,
    .theme .bottom-left .eye-glasses, .theme .bottom-right .eye-glasses {
      max-width: 35%; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .eye-glasses, .theme .top-right .eye-glasses,
        .theme .bottom-left .eye-glasses, .theme .bottom-right .eye-glasses {
          max-width: 38%;
          margin-top: 4vh;
          margin-left: 3%; } }
    .theme .top-left .dinner-herb, .theme .top-right .dinner-herb,
    .theme .bottom-left .dinner-herb, .theme .bottom-right .dinner-herb {
      max-width: 38%;
      margin-top: 27%;
      margin-left: 27%; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .dinner-herb, .theme .top-right .dinner-herb,
        .theme .bottom-left .dinner-herb, .theme .bottom-right .dinner-herb {
          max-width: 47%;
          margin-top: 27%;
          margin-left: 16%; } }
    .theme .top-left .cutlery, .theme .top-right .cutlery,
    .theme .bottom-left .cutlery, .theme .bottom-right .cutlery {
      max-width: 41%;
      margin-top: -25%;
      margin-right: 10%; }
      @media screen and (min-width: 1480px) {
        .theme .top-left .cutlery, .theme .top-right .cutlery,
        .theme .bottom-left .cutlery, .theme .bottom-right .cutlery {
          max-width: 34%;
          margin-top: -20%;
          margin-right: 5%; } }
    .theme .top-left .rsvp-plant, .theme .top-right .rsvp-plant,
    .theme .bottom-left .rsvp-plant, .theme .bottom-right .rsvp-plant {
      max-width: 38%;
      margin-top: 4%; }
    .theme .top-left .envelop, .theme .top-right .envelop,
    .theme .bottom-left .envelop, .theme .bottom-right .envelop {
      position: absolute;
      max-width: 62%;
      bottom: 0px;
      left: 0px; }
  .theme .top-right img, .theme .bottom-right img {
    float: right; }

.carousel {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  min-width: 100%;
  min-height: 100vh;
  z-index: 2; }

.event .titles {
  text-align: center;
  margin-top: 10vh;
  animation-delay: 0.4s; }
  @media screen and (min-width: 1480px) {
    .event .titles {
      margin-top: 24vh; } }
  .event .titles h2 {
    margin-left: -280px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 22px; }
  .event .titles h1 {
    font-weight: 400;
    font-size: 56px; }
.event .what-tabs {
  margin-top: 3vh;
  animation-delay: 0.4s; }
  @media screen and (min-width: 1480px) {
    .event .what-tabs {
      margin-top: 6vh; } }
.event .question {
  flex: 0 0 34%;
  max-width: 34%;
  margin-top: 15px;
  margin-left: 33.333%;
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }
  .event .question .nav-link {
    color: #313131;
    font-size: 18px;
    line-height: 1.7;
    transition: color;
    transition-duration: 0.3s;
    transition-delay: 0.4s;
    transition-timing-function: ease-in-out; }
    .event .question .nav-link strong {
      font-size: 32px;
      text-transform: uppercase; }
  .event .question .nav-pills .nav-link.active, .event .question .nav-pills .show > .nav-link {
    background-color: #0000;
    color: #028090; }
.event .answer {
  flex: 0 0 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center; }
  .event .answer .tab-pane {
    animation-delay: 0.5s;
    transition-delay: 0.4s; }
    .event .answer .tab-pane p {
      font-size: 22px;
      line-height: 1.5;
      margin: 0; }
      .event .answer .tab-pane p strong {
        font-size: 32px; }

@media screen and (min-width: 1480px) {
  .agenda {
    margin-top: 10vh; } }
.agenda .title {
  font-size: 60px;
  font-weight: 100;
  animation-delay: 1.9s; }
.agenda .view-changers a {
  display: block;
  float: left;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s; }
  .agenda .view-changers a:hover {
    text-decoration: none; }
  .agenda .view-changers a img {
    width: 40px;
    margin: 24px 8px; }
  .agenda .view-changers a .list-view {
    animation-delay: 1.9s; }
  .agenda .view-changers a .circular-view {
    animation-delay: 1.9s; }
.agenda .agenda-pie {
  margin-top: 12vh; }
  .agenda .agenda-pie p {
    animation-delay: 2.3s;
    font-size: 18px;
    text-align: justify; }
  @media screen and (min-width: 1480px) {
    .agenda .agenda-pie #notes {
      margin-top: 10px;
      line-height: 2; } }
  .agenda .agenda-pie .offset-1dot5 {
    margin-left: 12%; }
  .agenda .agenda-pie svg, .agenda .agenda-pie .dial-data {
    width: 65%;
    margin-top: -130px;
    margin-left: 50px;
    position: relative;
    z-index: 3; }
    .agenda .agenda-pie svg .cls-2 path, .agenda .agenda-pie .dial-data .cls-2 path {
      opacity: 0.3;
      cursor: pointer;
      transition: opacity;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s; }
      .agenda .agenda-pie svg .cls-2 path.active, .agenda .agenda-pie .dial-data .cls-2 path.active {
        opacity: 1; }
    .agenda .agenda-pie svg #Numbers text, .agenda .agenda-pie .dial-data #Numbers text {
      opacity: 0.1;
      cursor: pointer;
      transition: opacity;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s; }
      .agenda .agenda-pie svg #Numbers text.active, .agenda .agenda-pie .dial-data #Numbers text.active {
        opacity: 1; }
  .agenda .agenda-pie .dial-data {
    height: 100px;
    width: 65%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: black;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    animation-delay: 2s; }
    .agenda .agenda-pie .dial-data .timed-info {
      display: none; }
      .agenda .agenda-pie .dial-data .timed-info.active {
        display: block; }
      .agenda .agenda-pie .dial-data .timed-info p {
        text-align: center;
        font-size: 24px; }
        .agenda .agenda-pie .dial-data .timed-info p strong {
          font-size: 36px; }
  .agenda .agenda-pie .dial-info {
    z-index: 2;
    position: relative;
    width: 150px;
    animation-delay: 0.5s;
    margin-top: -273px;
    margin-left: -50px; }
    @media screen and (min-width: 1480px) {
      .agenda .agenda-pie .dial-info {
        margin-top: -368px;
        margin-left: 0px; } }
    .agenda .agenda-pie .dial-info p {
      animation-delay: 0.5s;
      display: none;
      text-align: center;
      font-size: 22px; }
      .agenda .agenda-pie .dial-info p span {
        font-size: inherit;
        font-family: Rajdhani; }
      .agenda .agenda-pie .dial-info p.active {
        display: block; }
@media screen and (min-width: 1480px) {
  .agenda .agenda-list {
    margin-top: 5vh; } }
.agenda .agenda-list .agenda-timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  animation-delay: 0.3s; }
  .agenda .agenda-list .agenda-timeline li {
    margin: 18px 0px;
    cursor: pointer; }
    .agenda .agenda-list .agenda-timeline li.active {
      color: #028090; }
  .agenda .agenda-list .agenda-timeline h5 {
    margin: 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    font-family: Rajdhani;
    font-weight: normal;
    font-size: 20px;
    color: inherit;
    transition: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s; }
  .agenda .agenda-list .agenda-timeline p {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: inherit;
    transition: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s; }
  .agenda .agenda-list .agenda-timeline .timeline-title {
    display: flex; }
    .agenda .agenda-list .agenda-timeline .timeline-title p {
      text-align: left; }
.agenda .agenda-list .open-timeline-data p {
  display: none; }
  .agenda .agenda-list .open-timeline-data p.active {
    display: block; }
.agenda .agenda-list p {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: inherit;
  transition: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s; }

.rsvp .titles {
  text-align: left;
  margin-top: 10vh;
  animation-delay: 0.4s; }
  @media screen and (min-width: 1480px) {
    .rsvp .titles {
      margin-top: 15vh; } }
  .rsvp .titles h1 {
    font-weight: 400;
    font-size: 56px; }
.rsvp .rsvp-tabs {
  margin-top: 8vh;
  animation-delay: 0.4s; }
  @media screen and (min-width: 1480px) {
    .rsvp .rsvp-tabs {
      margin-top: 14vh; } }
.rsvp .question {
  flex: 0 0 34%;
  max-width: 34%;
  margin-top: 15px;
  margin-left: 33.333%;
  transition: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }
  .rsvp .question .nav-link {
    color: #313131;
    font-size: 18px;
    line-height: 1.7;
    transition: color;
    transition-duration: 0.3s;
    transition-delay: 0.4s;
    transition-timing-function: ease-in-out; }
    .rsvp .question .nav-link strong {
      font-size: 32px;
      text-transform: uppercase; }
  .rsvp .question .nav-pills .nav-link.active, .rsvp .question .nav-pills .show > .nav-link {
    background-color: #0000;
    color: #028090; }
.rsvp .answer {
  flex: 0 0 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center; }
  .rsvp .answer .tab-pane {
    animation-delay: 0.5s;
    transition-delay: 0.4s; }
    .rsvp .answer .tab-pane p {
      font-size: 22px;
      line-height: 1.5;
      margin: 0; }
      .rsvp .answer .tab-pane p strong {
        font-size: 32px; }
.rsvp #rsvp-accept h4, .rsvp #rsvp-delegate h4, .rsvp #rsvp-decline h4 {
  font-size: 24px;
  color: #000;
  margin-bottom: 14px;
  font-family: 'Montserrat', sans-serif; }
.rsvp #rsvp-accept form, .rsvp #rsvp-delegate form, .rsvp #rsvp-decline form {
  display: block;
  width: 100%; }
  .rsvp #rsvp-accept form h5, .rsvp #rsvp-delegate form h5, .rsvp #rsvp-decline form h5 {
    color: #000000e6;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px; }
  .rsvp #rsvp-accept form span + h5, .rsvp #rsvp-delegate form span + h5, .rsvp #rsvp-decline form span + h5 {
    margin-top: 15px; }
  .rsvp #rsvp-accept form input, .rsvp #rsvp-delegate form input, .rsvp #rsvp-decline form input {
    padding: 5px 10px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #00000052;
    outline: 0;
    color: #000;
    margin-bottom: 10px;
    width: 100%; }
    .rsvp #rsvp-accept form input:focus, .rsvp #rsvp-accept form input:active, .rsvp #rsvp-accept form input:focus, .rsvp #rsvp-accept form input:visited, .rsvp #rsvp-accept form input:focus-within, .rsvp #rsvp-delegate form input:focus, .rsvp #rsvp-delegate form input:active, .rsvp #rsvp-delegate form input:focus, .rsvp #rsvp-delegate form input:visited, .rsvp #rsvp-delegate form input:focus-within, .rsvp #rsvp-decline form input:focus, .rsvp #rsvp-decline form input:active, .rsvp #rsvp-decline form input:focus, .rsvp #rsvp-decline form input:visited, .rsvp #rsvp-decline form input:focus-within {
      border: 1px solid #00000082; }
  .rsvp #rsvp-accept form .custom-control, .rsvp #rsvp-delegate form .custom-control, .rsvp #rsvp-decline form .custom-control {
    margin-top: 6px; }
    .rsvp #rsvp-accept form .custom-control .custom-control-label::after, .rsvp #rsvp-delegate form .custom-control .custom-control-label::after, .rsvp #rsvp-decline form .custom-control .custom-control-label::after {
      background-color: #3352b6;
      border-radius: 50%; }

.splash .container {
  z-index: 5;
  position: relative;
  color: white;
  height: 100vh;
  display: flex; }
  .splash .container > .row {
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important; }
  .splash .container .white-line {
    height: 2px;
    background-color: white; }
  .splash .container h3 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4vh; }
  .splash .container h2 {
    font-size: 56px;
    color: #fff;
    margin-bottom: 7vh;
    font-family: 'Montserrat', sans-serif; }
  .splash .container h1 {
    font-size: 88px;
    color: #fff;
    margin-bottom: 6vh;
    font-family: 'Dancing Script', cursive; }
  .splash .container .buttons, .splash .container .rsvp #rsvp-accept form, .rsvp #rsvp-accept .splash .container form, .splash .container .rsvp #rsvp-delegate form, .rsvp #rsvp-delegate .splash .container form, .splash .container .rsvp #rsvp-decline form, .rsvp #rsvp-decline .splash .container form {
    margin-bottom: 5vh; }
    .splash .container .buttons button, .splash .container .rsvp #rsvp-accept form button, .rsvp #rsvp-accept .splash .container form button, .splash .container .rsvp #rsvp-delegate form button, .rsvp #rsvp-delegate .splash .container form button, .splash .container .rsvp #rsvp-decline form button, .rsvp #rsvp-decline .splash .container form button {
      height: 46px;
      margin: 12px; }
    .splash .container .buttons a, .splash .container .rsvp #rsvp-accept form a, .rsvp #rsvp-accept .splash .container form a, .splash .container .rsvp #rsvp-delegate form a, .rsvp #rsvp-delegate .splash .container form a, .splash .container .rsvp #rsvp-decline form a, .rsvp #rsvp-decline .splash .container form a {
      text-align: center;
      min-width: 210px;
      height: 44px;
      padding: 11px 25px;
      margin-bottom: 14px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .splash .container .buttons a:focus, .splash .container .rsvp #rsvp-accept form a:focus, .rsvp #rsvp-accept .splash .container form a:focus, .splash .container .rsvp #rsvp-delegate form a:focus, .rsvp #rsvp-delegate .splash .container form a:focus, .splash .container .rsvp #rsvp-decline form a:focus, .rsvp #rsvp-decline .splash .container form a:focus, .splash .container .buttons a:active, .splash .container .rsvp #rsvp-accept form a:active, .rsvp #rsvp-accept .splash .container form a:active, .splash .container .rsvp #rsvp-delegate form a:active, .rsvp #rsvp-delegate .splash .container form a:active, .splash .container .rsvp #rsvp-decline form a:active, .rsvp #rsvp-decline .splash .container form a:active, .splash .container .buttons a:hover, .splash .container .rsvp #rsvp-accept form a:hover, .rsvp #rsvp-accept .splash .container form a:hover, .splash .container .rsvp #rsvp-delegate form a:hover, .rsvp #rsvp-delegate .splash .container form a:hover, .splash .container .rsvp #rsvp-decline form a:hover, .rsvp #rsvp-decline .splash .container form a:hover, .splash .container .buttons a:visited, .splash .container .rsvp #rsvp-accept form a:visited, .rsvp #rsvp-accept .splash .container form a:visited, .splash .container .rsvp #rsvp-delegate form a:visited, .rsvp #rsvp-delegate .splash .container form a:visited, .splash .container .rsvp #rsvp-decline form a:visited, .rsvp #rsvp-decline .splash .container form a:visited, .splash .container .buttons a:focus-within, .splash .container .rsvp #rsvp-accept form a:focus-within, .rsvp #rsvp-accept .splash .container form a:focus-within, .splash .container .rsvp #rsvp-delegate form a:focus-within, .rsvp #rsvp-delegate .splash .container form a:focus-within, .splash .container .rsvp #rsvp-decline form a:focus-within, .rsvp #rsvp-decline .splash .container form a:focus-within {
        text-decoration: none; }

.buttons button, .rsvp #rsvp-accept form button, .rsvp #rsvp-delegate form button, .rsvp #rsvp-decline form button, .buttons a, .rsvp #rsvp-accept form a, .rsvp #rsvp-delegate form a, .rsvp #rsvp-decline form a {
  box-shadow: 0px 13px 42.14px 6.86px rgba(0, 0, 0, 0.13);
  width: 210px;
  height: 38px;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer; }
  .buttons button:focus, .rsvp #rsvp-accept form button:focus, .rsvp #rsvp-delegate form button:focus, .rsvp #rsvp-decline form button:focus, .buttons button:active, .rsvp #rsvp-accept form button:active, .rsvp #rsvp-delegate form button:active, .rsvp #rsvp-decline form button:active, .buttons button:hover, .rsvp #rsvp-accept form button:hover, .rsvp #rsvp-delegate form button:hover, .rsvp #rsvp-decline form button:hover, .buttons button:visited, .rsvp #rsvp-accept form button:visited, .rsvp #rsvp-delegate form button:visited, .rsvp #rsvp-decline form button:visited, .buttons button:focus-within, .rsvp #rsvp-accept form button:focus-within, .rsvp #rsvp-delegate form button:focus-within, .rsvp #rsvp-decline form button:focus-within, .buttons a:focus, .rsvp #rsvp-accept form a:focus, .rsvp #rsvp-delegate form a:focus, .rsvp #rsvp-decline form a:focus, .buttons a:active, .rsvp #rsvp-accept form a:active, .rsvp #rsvp-delegate form a:active, .rsvp #rsvp-decline form a:active, .buttons a:hover, .rsvp #rsvp-accept form a:hover, .rsvp #rsvp-delegate form a:hover, .rsvp #rsvp-decline form a:hover, .buttons a:visited, .rsvp #rsvp-accept form a:visited, .rsvp #rsvp-delegate form a:visited, .rsvp #rsvp-decline form a:visited, .buttons a:focus-within, .rsvp #rsvp-accept form a:focus-within, .rsvp #rsvp-delegate form a:focus-within, .rsvp #rsvp-decline form a:focus-within {
    border: 0;
    outline: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.36); }
.buttons .add-guest, .rsvp #rsvp-accept form .add-guest, .rsvp #rsvp-delegate form .add-guest, .rsvp #rsvp-decline form .add-guest, .buttons .view-invitation, .rsvp #rsvp-accept form .view-invitation, .rsvp #rsvp-delegate form .view-invitation, .rsvp #rsvp-decline form .view-invitation {
  margin-top: 14px;
  background-color: white;
  color: #3251b6; }
.buttons .rsvp-now, .rsvp #rsvp-accept form .rsvp-now, .rsvp #rsvp-delegate form .rsvp-now, .rsvp #rsvp-decline form .rsvp-now {
  margin-top: 16px;
  color: white;
  background-color: #3251b6; }

/*# sourceMappingURL=style.css.map */
